.content-user__left {
  border: 1px solid #d5d8dc;
  margin-bottom: 30px;
  margin-right: 10px;
  height: 520px;
}

.user-background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 33px;
  align-items: center;
  margin-bottom: 26px;
}

.user-background__image {
  width: 105px;
  height: 105px;
  border-radius: 50%;
}

.user-background__name {
  margin-top: 26px;
  font-size: 20px;
  font-weight: 700;
}

.user-background__name::after {
  margin-top: 16px;
  display: block;
  content: '';
  height: 0;
  width: 100%;
  border-top: 1px solid #d5d8dc;
}

.user-list {
  height: 270px;
  display: flex;
  flex-direction: column;
}

.user-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.user-item + .user-item {
  border-top: 1px solid #d5d8dc;
}

.user-item__icon {
  font-size: 25px;
  color: #454545;
}

.user-item__title {
  font-size: 20px;
  padding-left: 20px;
}

.content-user__right {
  border: 1px solid #d5d8dc;
  margin-bottom: 30px;
  margin-left: 10px;
  padding: 10px 20px 0 20px;
}

.user-item:hover .user-item__icon {
  color: #5dade2;
}

/* user page */
.user-page__remove-all {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ccd1d1;
  width: 100px;
  height: 30px;
  border-radius: 3px;
}

.user-page__remove-all:hover {
  color: tomato;
  cursor: pointer;
}

.user-page__remove-all__icon {
  font-size: 15px;
  margin-right: 5px;
}

.user-page__remove-all__text {
  font-size: 15px;
}

.user-page__header {
  width: 100%;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-page__title {
  font-size: 30px;
  position: relative;
}

.user-page__title::before {
  display: block;
  content: '';
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100px;
  height: 0;
  border-top: 1px solid teal;
}

.user-page__body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

/* category-page */

.notification {
  margin: 20px auto;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #faf2cc;
  background-color: #fcf8e3;
  color: #8a6d3b;
  padding: 15px;
  text-align: center;
}
.category-page-main > div,
.category-page-main > div > .create-category {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  border-radius: 3px;
  text-transform: uppercase;
  border: 1px solid #e9ecef;
  cursor: pointer;
}
.create-category {
  background-color: #2fa1b3;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 10px;
}
.form-create-category {
  display: flex;
  flex-direction: column;
}
.title-form {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #343a40;
  margin-bottom: 20px;
}
.title-form span::after {
  position: absolute;
  width: 55px;
  height: 1px;
  content: '';
  background-color: #2fa1b3;
  bottom: 0;
  left: 0;
}
.item-form {
  margin-bottom: 20px;
  position: relative;
}
.input-form {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid #eee;
  border-radius: 4px;
}
.input-form > label {
  position: absolute;
  font-size: 14px;
  color: #6c757d;
  top: -11px;
  left: 12px;
  padding: 0 5px;
  background-color: #fff;
}
.input-form > input {
  padding: 18px;
  border-radius: 4px;
}
.input-form input {
  font-size: 18px;
  color: #343a40;
  border: none;
}
.input-form input:focus {
  outline: none;
}
.input-form:focus-within {
  border-color: #2fa1b3;
}
.input-form:focus-within label {
  color: #2fa1b3;
}
.input-form:focus .drop-table {
  display: none;
}

.input {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 18px;
  position: relative;
}

.placehoder-input {
  position: absolute;
  left: 18px;
  color: #343a40;
  font-size: 18px;
  visibility: visible;
  opacity: 1;
}
.placehoder-input span {
  opacity: 0.5;
}
.placehoder-input span:first-child {
  color: #343a40;
}
.placehoder-input span:nth-child(2),
.placehoder-input span:nth-child(3) {
  color: #39d;
}
.placehoder-input span:last-child {
  color: #df6740;
}
.drop-table {
  padding: 18px;
  width: 100%;
  font-size: 14px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border: 1px solid #ced4da;
  background-color: #fff;
  border-radius: 4px;
  margin-top: 8px;
}
.drop-table > div {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px 0px;
}
.item-drop {
  color: #39d;
  border: 1px solid #39d;
  font-size: 16px !important;
  padding: 2px 8px;
  margin: 0 3px;
  border-radius: 14px;
  cursor: pointer;
}
.drop-table div:nth-child(2) .item-drop {
  color: #15a1b1;
  border-color: #15a1b1;
}
.drop-table div:nth-child(2) .title-drop {
  color: #15a1b1;
}
.drop-table div:nth-child(1) .title-drop {
  color: #39d;
}
.select-item {
  display: flex;
  align-items: center;
  padding: 0 6px 0 12px;
  margin: 4px 8px 4px 0;
  border-radius: 14px;
  background-color: rgba(1, 143, 229, 0.85);
  font-size: 14px;
  line-height: 28px;
}
.select-item span {
  color: #fff;
}
.btn-remove-item-select {
  border: none;
  display: flex;
  align-items: center;
  background-color: transparent;
  margin-left: 5px;
  cursor: pointer;
}
.group-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.group-btn button {
  padding: 6px 8px;
  font-weight: 400;
  font-size: 12px;
}
.create {
  margin-left: 10px;
  color: #fff;
  background-color: #2fa1b3;
}
.cancel {
  color: #6c757d;
}
.header-category-page-main {
  display: flex;
  align-items: center;
  justify-content: space-between !important;
  margin-bottom: 6px;
}
.header-category-page-main > h3 {
  text-transform: uppercase;
  font-weight: 700;
}
.list-category-page-main {
  justify-content: space-between !important;
  flex-wrap: wrap;
}
.item-category-page-main {
  display: flex;
  align-items: center;
  padding: 18px;
  border: 1px solid #e9ecef;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 4px;
  width: calc(50% - 8px);
}
.item-img {
  width: 70px;
  height: 70px;
  border-radius: 3px;
  cursor: pointer;
  flex: 0.8;
}
.item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 3px;
}
.item-name {
  flex: 2;
  padding: 0 5px;
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.btn-item {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 0.2;
  position: relative;
}
.item-category-drop {
  position: absolute;
  top: 100%;
  right: -3px;
  width: 150px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  border: 1px solid #ced4da;
}
.item-category-drop::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -5px;
  right: 7px;
}
.item-category-drop div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}
.remove-category {
  border-top: 1px solid #ced4da;
}
.item-category-drop div span {
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;
}
.item-category-drop div:hover {
  color: #2fa1b3;
}
