@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: baomoi;
  src: url('https://baomoi-static.zadn.vn/web/styles/fonts/baomoi/2.0.2/baomoi-light-2.0.2.woff2')
      format('woff2'),
    url('https://baomoi-static.zadn.vn/web/styles/fonts/baomoi/2.0.2/baomoi-light-2.0.2.woff')
      format('woff');
  font-display: swap;
}

@font-face {
  font-family: baomoi;
  src: url('https://baomoi-static.zadn.vn/web/styles/fonts/baomoi/2.0.2/baomoi-light-italic-2.0.2.woff2')
      format('woff2'),
    url('https://baomoi-static.zadn.vn/web/styles/fonts/baomoi/2.0.2/baomoi-light-italic-2.0.2.woff')
      format('woff');
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: baomoi;
  src: url('https://baomoi-static.zadn.vn/web/styles/fonts/baomoi/2.0.2/baomoi-regular-2.0.2.woff2')
      format('woff2'),
    url('https://baomoi-static.zadn.vn/web/styles/fonts/baomoi/2.0.2/baomoi-regular-2.0.2.woff')
      format('woff');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: baomoi;
  src: url('https://baomoi-static.zadn.vn/web/styles/fonts/baomoi/2.0.2/baomoi-regular-2.0.2.woff2')
      format('woff2'),
    url('https://baomoi-static.zadn.vn/web/styles/fonts/baomoi/2.0.2/baomoi-regular-2.0.2.woff')
      format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: baomoi, serif;
  font-size: 14px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #adb5bd;
  height: 100%;
}
a:hover {
  color: #2fa1b3 ;
}
